<div class="top">
    <%= link_to "Pawn Shop", root_path, id: "home" %>
    <ul class="navigation">
      <li class="right-nav"><%= link_to "Help",     help_path%></li>
      <li class="right-nav"><%= link_to "Products", products_path%></li>
      <li class="right-nav"><%= link_to "Home",     root_path%></li>
    </ul>
</div>
