<span class="myButton" style="padding: 20px 10px 20px 10px;  margin: 20px 0 20px 10px;
                              clear:none; width: 15%; float: left">
  <%= link_to "+Add a new product" , products_new_path %>
</span>
<div class="myButton" style="clear: both; display:block; width: 10%; margin: 20px 0 20px 10px">
  <%= link_to "My products", myproducts_path %>
</div>
