* {
   margin: 0px;
   padding: 0px;
}

.container {
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

.top {
  background-color: black;
  height: 100px;
}

.navigation {
  margin: 10px;
  padding: 10px;
}

.navigation .right-nav {
  float: right;
  padding: 5px;
  a {
    &:hover {
      color: #fff;
    }
    text-decoration: none;
    color: grey;
  }
}

#home {
  position: relative;
  top: 35px;
  margin-left: 30px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: grey;
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    margin-right: 30px;
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  padding-top:20px;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {

  font-size: 1.1em;
  line-height: 1.7em;
  margin-left:30px;
}

/* buttons */
.styled-button-8 {
	background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}
