<footer>Copyright 1997 The Bear From the Forest</br>
<p>Disclaimer: everyone who uses this site for commercial
  use deserves congratiulations because, despite the big table market,
  some people just don't like tables</p>
 <p style="float: left">The time:<%= @time %></p>
</footer>
