<% provide(:title, "#{@user.name}") %>
<h1>Awaiting creation....</h1>
<img src="http://images-cdn.9gag.com/photo/azb7Lxb_700b.jpg" style="float:left" />
<div style="float: left; width:50%">
  <%= render 'shared/product_pagination' %>
</div>
<div style="clear: both">
  <% if @user.admin? && current_user == @user %>
      <%= render 'shared/users_show_buttons' %>
        U admin maaan
  <% elsif current_user == @user  %>
      <%= render 'shared/users_show_buttons' %>
        This is your profile page
  <% end %>
</div>
