
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrapper {
  min-height:100%;
  position: relative;
  margin: 0;
  padding: 0;
}
header {
  padding:10px 0px 10px 0px;
  margin-left: 0px;
  margin-right: 0px;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #333635));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #333635 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #333635 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #333635 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #333635 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #333635 100%);
  height: 100px;
  width: 100%;
  h1 {
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
  
  }

  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }

  ul li {
      display: block;
      position: relative;
      float: right;
      margin-right: 5px;
  }

  li ul {
      display: none;
  }

  ul li a {
      display: block;
      text-decoration: none;
      z-index: 2;
  }

  li:hover ul { a { width: 100%; text-align: center; }
    width: auto;
      font-size: 100px;
      display: block;
      position: absolute;
      z-index: 2;
    li { display: block;
      width: 76.5%;
    }
  }
}

.container {

  padding-bottom: 119px;
  width: 100%;
}

footer {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #333635));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #333635 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #333635 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #333635 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #333635 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #333635 100%);

  position:absolute;

  bottom: 0px;
  /*
  left:0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  */
  height: 119px;
  width:100%;
  border-top: 2px solid grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Courier;
  font-size: 15px;
  color: #D0CBD4;
  text-align: center;

}

.show_index {
	overflow: auto;
	margin-top: 1em;
	border-bottom: 1px solid #77d;
	min-height: 100px;
	img {
		width: 130px;
    height: 120px;
		margin-right: 5px;
		margin-bottom: 5px;
    margin-left: 5px;
		float: left;
	}
	h2 {
		font-size: 120%;
		font-family: sans-serif;
		margin-left: 100px;
		margin-top: 0;
		margin-bottom: 2px;
		color: #227;
    float: left;
    height: 50px;
	}
  .description {
    clear: both;
    font-size: small;
		font-family: Arial;
		margin-left: 100px;
		margin-top: 0;
		margin-bottom: 2px;
		color: black;

  }
	.price {
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 0;
    margin-bottom: 2px;
    color: black;
    clear: both;
	}
  .new_product_link {
    padding: 20px 0 20px 10px;
  }

}

.align_center {
  text-align: center;
  font-family: sans-serif;
}

.show_description {
  border: 4px solid #8EAB9F;
  border-radius: 8px;
  background-color: #DCFAEE;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 10px;
  clear: both;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 2px;
  max-width: 65%;
}

.product_control {
  li { display: inline-block; }
}
.image_size_table {
  width: 100%;
  border: 1px solid black;
  td {
    width: 33%;
    img {
      width: 100%;
      height: 200px;
    }
  }
}
.max_img_size {
  img {
  max-width: 300px;
  max-height: 400px;
  }
}

.flash_danger {
  text-align: center;
  color: red;
  font-family: Courier;
  font-size: 20px;
  position: relative;
  background-color: #FF9F9F;
}
.flash_success {
  text-align: center;
  color: green;
  font-family: Courier;
  font-size: 20px;
  position: relative;
  background-color: #C6FFC6;
}
.flash_notice {
  text-align: center;
  color: blue;
  font-family: Courier;
  font-size: 20px;
  position: relative;
  background-color: #70C6FF;
}

.label_style {
  background-color: grey;
  border: 1px solid black;
  border-radius: 100px;
  padding: 2px 2px 2px 2px;
}
.text_field_style2 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
}

.button_position {
  position:relative;
  left: -45%;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.show_product {

  img {
    padding-top: 5px;
    padding-left: 5px;
    float: left;
    width: 25%;
    height: 300px;
  }
  p {

  }
  #description {
    margin-left: 10px;
    float: left;
    width: 70%;
    height: 250px;
  }
  #price {
    float: left;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 2px;
    color: black;
    width: 10%;
  }
  ul {
    padding-top:10px;
    clear: both;
  }
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
