<div>
<% provide(:title,"Product list") %>
<p>There are currently <%= pluralize(Product.count, "product") %> in the store. May you find what you are looking for.</p>
<span class="myButton" style="padding: 20px 10px 20px 10px;  margin: 20px 0 10px 20px display:block; clear:both">
  <%= link_to "+Add a new product" , products_new_path %>
</span>
<%= render 'shared/product_pagination' %>
<span class="myButton" style="padding: 20px 10px 20px 10px;  margin: 20px 0 20px 10px">
  <%= link_to "+Add a new product" , products_new_path %>
</span>
</div>
